<div class="row-fluid marketing">
  <div class="span12">
    <h4>简介</h4>
    <p>
    苦逼程序员,做点有用的东西赚点小钱.<br />
    2010/08~2011/05在国富通(马云曾领导的公司)做Java开发<br />
    2011/05~至今在CSDN做Ruby开发
    </p>
    <h4>联系方式</h4>
    <p>
      旺旺: cxh116
    </p>
  </div>
</div>
