<div class="row-fluid">
  <div class="span12">
    <h4>简介</h4>
    <p>
    承接软件开发
    </p>
    <h4>联系方式</h4>
    <p>
    旺旺: <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=cxh116&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=cxh116&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
    </p>
  </div>
</div>
