      <div class="header-bar">
        <div class="header-bar-inner bg-color-darken" style="padding: 10px 10px 5px;">
          <p class="tertiary-text fg-color-white">©2012 <a class="fg-color-blueLight" href="http://mangege.com" target="_blank">Cao Xiaohua</a> | Theme by <a class="fg-color-blueLight" href="http://metroui.org.ua" target="_blank">Metro UI CSS</a></p>
        </div>
      </div>
