<% unless flash.empty? %>
  <div class="notice-box">
    <div class="<%= notice_class %>-bar">
      <p>
      <%= render_notice_text %>
      </p>
      <button class="place-right">关闭</button>
    </div>
  </div>
<% end %>
