<table class="table table-striped table-bordered seller-cats-table">
  <tr>
    <td>任务ID</td>
    <td>任务状态</td>
    <td>任务类型</td>
    <td>创建时间</td>
    <td>更新时间</td>
  </tr>
    <%= render @back_tasks %>
</table>
<%= paginate @back_tasks %>
