/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require metro-ui-css-and-overrides
 *= require_self
 *= require_tree .
 */
html, body {
  height: 100%;
}

.flyouts .page-region-content {
  margin: 0 50px;
}
.header-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.page-sidebar {
  margin-top: 0;
  margin-left: 0;
}

.app-layout .page-sidebar {
  width: 160px;
}
.app-layout.with-sidebar .page-region {
  margin-left: 160px;
}
.app-layout.with-sidebar .page-region .page-region-content {
  padding-right: 20px;
  padding-bottom: 46px;
}

.notice-box {
  height: 110px;
  position: relative;
}
