<tr>
  <td><%= seller_cat.tb_cid %></td>
  <td><%= seller_cat.tb_name %></td>
  <td>
    <%= text_field_tag "priorities[#{seller_cat.id}]", seller_cat.priority, class: 'input-mini' %>
  </td>
</tr>
<%= render :partial => "sub_seller_cat", :collection => seller_cat.sub_seller_cats %>
